# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/

# OS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Large data files
data/raw/*
data/processed/*

# Keep the directory structures intact
!data/raw/.gitkeep
!data/processed/.gitkeep

*.parquet
*.arrow

# Hugging Face cache
.cache/
huggingface/

# Spark
spark-warehouse/
metastore_db/
derby.log

# SDSC/SLURM job files
*.out
*.err
slurm-*.out

# Large outputs
outputs/
results/
checkpoints/
models/*
!models/.gitkeep
.mpl_cache/
